
.Board {
  width: calc(100% - 32px);
  margin: 16px;
}

@media (min-width: 769px) {
  .Board {
    width: calc(320px - 32px);
  }
}

.Board__header {
  border-bottom: 2px solid var(--theme-color);
  padding: 12px 16px;
  position: relative;
}

.Board__header h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.Board .TaskCount {
  position: absolute;
  bottom: 0;
  right: 0;
}