
.Input {
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 16px;
  color: var(--bright-bg-font-color);
}

.Input::placeholder {
  color: var(--input-placeholder-color);
  font-style: italic;
}
