
.MainHeader {
  background: var(--theme-color);
  color: var(--bright-bg-font-color);
  padding: 12px 16px;
  position: relative;
}

.MainHeader .TaskCount {
  position: absolute;
  top: 100%;
  right: 0;
  padding-bottom: 2px;
}