:root {
  --bright-bg-font-color: #ffffff;
  --font-color: #333333;
  --input-placeholder-color: #dadada;
  --theme-color: #0084FF;
}

* { box-sizing: border-box; }
*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
}
